In [1]:
#Necessary imports 
import numpy as np
import pandas as pd
#Read the train & test datasets
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
# Rearranging the train dataset by grouping PID and aggregating it to list
data = data.sort(['PID', 'Date'], ascending=[1, 1])
data = data.reset_index(drop=True)
data = data.groupby('PID').agg(lambda x: x.tolist())
del data["Date"]

C:\Users\NISHANT\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [45]:
# Visualize the dataset 'beta' formed by above described method 
beta = data.reset_index()
beta.head()

       PID                                              Event
0  1000001  [3263, 2580, 3382, 1817, 2632, 3263, 2841, 338...
1  1000011  [3009, 3388, 2621, 2526, 2493, 3210, 3210, 195...
2  1000019  [7865, 9920, V724, V283, 9920, 7681, V288, 655...
3  1000025  [2453, 2110, 2453, 3254, 4019, 7865, 7890, 530...
4  1000029  [2773, 2773, 2533, 2773, 2533, 2773, 2773, 253...

In [46]:
#Creating a Submit column
beta["Submit"] = ""

In [47]:
beta.head(2)

       PID                                              Event Submit
0  1000001  [3263, 2580, 3382, 1817, 2632, 3263, 2841, 338...
1  1000011  [3009, 3388, 2621, 2526, 2493, 3210, 3210, 195...

In [14]:
# Making necessary imports for further processing 
import itertools
import heapq
from collections import Counter

In this approach of linear integral weight allocation we first start a loop to get the descriptions related to the the PIDs and initiatean empty list and then for the PID that is identified in current loop we repeat the events on the basis of index in events like for the case of PID=1000001, we append 3263 one times,258 two times,3382 three times,1817 for four times based on position and thus the most recent one gets the best weight. The benifit of using such a method was that even if an event occured only a few times at the end event occurences but a lot many times in the middle,it will still be able to find its representation.Then we loope to append it to list c and created a flat list and from that list finally a dictionary was created and the values were filled in submit column after getting best 10 events in sequence.

In [49]:
#Code for description above
for i in range(len(beta)):
    a = beta.iloc[i][1]
    c = []
    for k,j in enumerate(a):
        c.append(list(itertools.repeat(j, k+1)))
    flat_list = [item for sublist in c for item in sublist]
    d = dict(Counter(flat_list))
    e = heapq.nlargest(10, d, key=d.get)
    beta["Submit"].iloc[i] = e

C:\Users\NISHANT\Anaconda3\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [51]:
beta.head()

,PID,Event,Submit
0,1000001,"[3263, 2580, 3382, 1817, 2632, 3263, 2841, 338...","[3074, 2632, 3263, 2533, 2178, 9921, 3041, 356..."
1,1000011,"[3009, 3388, 2621, 2526, 2493, 3210, 3210, 195...","[9921, 9928, 8100, 8502, 8470, 3106, 2335, 409..."
2,1000019,"[7865, 9920, V724, V283, 9920, 7681, V288, 655...","[9928, 7194, 7313, 7682, 7311, 8140, 9594, 834..."
3,1000025,"[2453, 2110, 2453, 3254, 4019, 7865, 7890, 530...","[3641, 2674, 2635, 3254, 3419, 3410, 8444, 844..."
4,1000029,"[2773, 2773, 2533, 2773, 2533, 2773, 2773, 253...","[2533, 3638, 2773, 9921, 4011, 3051, 8830, 361..."

In [53]:
# Copied from ZS starter code to create a dataframe
for i in range(1,11):
    beta["Event" + str(i)] = beta["Submit"].apply(lambda x: x[i-1])

In [55]:
#Delete columns
del beta['Event']
del beta['Submit']

In [57]:
beta.head()

,PID,Event1,Event2,Event3,Event4,Event5,Event6,Event7,Event8,Event9,Event10
0,1000001,3074,2632,3263,2533,2178,9921,3041,3568,3016,J705
1,1000011,9921,9928,8100,8502,8470,3106,2335,4097,6489,9637
2,1000019,9928,7194,7313,7682,7311,8140,9594,8340,E888,6522
3,1000025,3641,2674,2635,3254,3419,3410,8444,8443,9921,3167
4,1000029,2533,3638,2773,9921,4011,3051,8830,3616,7373,7871

In [59]:
#Generate .csv file for above code. This produced a LB score around 0.82
beta.to_csv("beta.csv",index = False)