In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
train.head()

       PID    Date Event
0  1028890  201101  2186
1  1028890  201101  7087
2  1028890  201101  4848
3  1028890  201101  2214
4  1028890  201102  7087

In [16]:
test.head()

       PID
0  1028890
1  1021443
2  1016194
3  1017298
4  1006098

In [8]:
len(train['Event'].unique())

6472

In [2]:
train_dcast = pd.crosstab(index=[train['PID']], columns=train['Event'])
train_dcast.reset_index(drop=False, inplace=True)

In [13]:
submit = train_dcast.loc[:,train_dcast.columns != 'PID'].apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:10].index, index=['Event'+str(x) for x in range(1,11)]),axis=1).reset_index()
submit.drop('index',inplace=True, axis=1)

In [4]:
# setting column names in sequence
submit['PID'] = train_dcast['PID']
cols = submit.columns.tolist()
cols = cols[-1:] + cols[:-1]
submit = submit[cols]

In [5]:
submit.head()

,PID,Event1,Event2,Event3,Event4,Event5,Event6,Event7,Event8,Event9,Event10
0,1000001,3074,3263,2533,2632,2178,3041,9921,3272,3016,2582
1,1000011,9921,3106,8470,8100,9928,8502,2335,9711,7231,4097
2,1000019,7682,9928,7681,7680,6558,V283,7194,9920,6522,V270
3,1000025,3254,3641,2635,2674,3419,3410,5852,8444,9921,8443
4,1000029,2533,2773,3638,9921,4011,3051,8830,7373,3616,V723

In [18]:
train_dcast.head()

Event,PID,0001,0010,0014,0030,0042,0059,0066,0085,0088,...,V870,V872,V873,V874,V880,V890,V901,V908,V909,V910
0,1000001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1000025,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000029,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0